@model List<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

@* Display 30 movie cards *@

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movieCard in Model)
            {
                <div class="col-12 col-sm-6 col-lg-3 col-xl-2">
                    @* call the partial view *@
                    <partial name="_MovieCard" model="movieCard"/>
                </div>
            }
        </div>
    </div>
</div>