@using MovieShopMVC.Infra
@inject ICurrentUser currentUser


@if (currentUser.IsAuthenticated)
{
    <ul class="navbar-nav flex-grow-1 justify-content-end">
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i> @currentUser.FirstName
            </a>
            <ul class="dropdown-menu bg-dark">
                <li><a class="dropdown-item text-light" asp-controller="User" asp-action="Purchases"><i class="fa-solid fa-video"></i> Purchases</a></li>
                <li><a class="dropdown-item text-light" asp-controller="User" asp-action="Favorites"><i class="fa-solid fa-heart"></i> Favorites</a></li>
                <li><a class="dropdown-item text-light" asp-controller="User" asp-action="EditProfile"><i class="fa-solid fa-address-card"></i> View Profile</a></li>
            </ul>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </li>
    </ul> 
}
else
{
    <ul class="navbar-nav flex-grow-1 justify-content-end">
        <li class="nav-item mx-2">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Join Us</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
    </ul> 
}